gestures {
    hot-corners {
        off
    }
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
}

prefer-no-csd
debug {
    honor-xdg-activation-with-invalid-serial
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 3000
}

input {
    keyboard {
        repeat-rate 35
        repeat-delay 200
        xkb {
            layout "tr"
        }
        numlock
    }

    focus-follows-mouse max-scroll-amount="0%"
}

output "DP-1" {
    mode "1920x1080@60.00"
    position x=1080 y=0
}

layout {
    gaps 7
    background-color "#000000"
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        on
        width 1
        active-color "#ffffff33"
    }

    shadow {
        on
        softness 30
        spread 2
        offset x=0 y=0
    }

    struts {
        left 2
        right 2
        top 2
        bottom 2
    }

    tab-indicator {
        width 2
        gap -5
        gaps-between-tabs 5
        corner-radius 10
        active-color "#fff"
        inactive-color "#ffffff55"
    }

    insert-hint {
        color "#ffffff22"
    }
}

spawn-sh-at-startup "vicinae server"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-sh-at-startup "~/.config/awww/wall-restore.sh"

overview {
    backdrop-color "#111111AA"
    zoom 0.5
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/%Y%m%dT%H%M.png"

animations {
    window-open {
        spring damping-ratio=0.8 stiffness=800 epsilon=0.0001
    }
    window-close {
        spring damping-ratio=1.0 stiffness=700 epsilon=0.001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.001
    }
    window-movement {
        spring damping-ratio=0.9 stiffness=700 epsilon=0.0001
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }
    workspace-switch {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.00001
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=650 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

// https://github.com/niri-wm/niri/pull/3483

window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
    open-maximized true
    /*background-effect {
        xray true
        blur true
    }*/
}

/*
blur {
    passes 3
    offset 3.0
    noise 0.02
    saturation 1.5
}

window-rule {
    match is-floating=true
    background-effect {
        xray false
        blur true
    }
}
*/

window-rule {
    match is-active=false
    opacity 0.95
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}

binds {

    Mod+Return { spawn "ghostty"; }
    Mod+Space repeat=false { spawn "vicinae" "toggle"; }
    Mod+V repeat=false { spawn "vicinae" "vicinae://launch/clipboard/history"; }
    Mod+E { spawn "nautilus"; }
    Mod+R { spawn-sh "pkill waybar; sleep 0.15; waybar &"; }
    Mod+Shift+W { spawn-sh "$HOME/.config/awww/wall-select.sh"; }
    Mod+Shift+L allow-when-locked=true { spawn "hyprlock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
}
