@define-color foreground {{colors.on_surface.default.hex}};
@define-color background {{colors.background.default.hex}};
@define-color accent {{colors.primary.default.hex}};
@define-color muted {{colors.outline.default.hex}};
@define-color card_bg {{colors.surface_container.default.hex}};
@define-color text_dark {{colors.on_primary.default.hex}};
@define-color accent_hover {{colors.primary_container.default.hex}};
@define-color selected_tab {{colors.primary.default.hex}};
@define-color text {{colors.on_surface.default.hex}};

* {
    all: unset;
    font-family: JetBrains Mono NF;
    color: @foreground;
    font-weight: bold;
    font-size: 16px;
}

.window {
    background: alpha(@background, 0.95);
    border: solid 2px @accent;
    margin: 4px;
    padding: 18px;
}

tabs {
    padding: 0.5rem 1rem;
}

tabs>tab {
    margin-right: 1rem;
    border-bottom: 2px solid transparent;
    padding-bottom: 4px;
    transition: all 0.2s ease;
}

.tab-label {
    color: @text;
    transition: all 0.2s ease;
}

tabs>tab:checked>.tab-label,
tabs>tab:active>.tab-label {
    text-decoration: none;
    color: @selected_tab;
}

tabs>tab:checked,
tabs>tab:active {
    border: none;
    box-shadow: none;
    background: none;
    border-bottom: 2px solid @selected_tab;
}

tabs>tab:focus>.tab-label {
    color: @foreground;
}

.page {
    padding: 1rem;
}

.image-label {
    font-size: 12px;
    padding: 0.25rem;
}

flowboxchild>.card,
button>.card {
    transition: all 0.2s ease;
    border: solid 2px transparent;
    border-color: @background;
    border-radius: 5px;
    background-color: @card_bg;
    padding: 5px;
}

flowboxchild:hover>.card,
button:hover>.card,
flowboxchild:active>.card,
flowboxchild:selected>.card,
button:active>.card,
button:selected>.card,
button:focus>.card {
    border: solid 2px @accent;
}

.image {
    border-radius: 5px;
}

.region-button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: @accent;
    color: @text_dark;
    transition: all 0.2s ease;
}

.region-button>label {
    color: @text_dark;
}

.region-button:not(:disabled):hover,
.region-button:not(:disabled):focus {
    background-color: @accent_hover;
    color: @text_dark;
}

.region-button:disabled {
    background-color: @muted;
    color: @background;
}